* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  color: yellow;
}
.item1,
.item2,
.item3 {
  margin: 3px;
  padding: 2px;
  background-color: grey;
  float: left;
}
#p1 {
  background-color: blue;
  color: white;
}
#p2 {
  background-color: gold;
  color: white;
}
#p3 {
  background-color: violet;
  color: white;
}
p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
section {
  position: relative;
  left: 75.5%;
  top: -2px;
  padding: 1px;
  border: 2px solid black;
  width: 25%;
  text-align: center;
  background-color: red;
}

@media (min-width: 992px) {
  .item1,
  .item2,
  .item3 {
    margin: 6px;
    float: left;
    border: 1px solid black;
    width: 32%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .item1,
  .item2 {
    margin: 6px;
    width: 43%;
  }
}
@media (max-width: 767px) {
  .item1,
  .item2,
  .item3 {
    margin: 6px;
    width: 90%;
  }
}
